<html>

<head>
<title>Portfolio</title>
<meta charset="UTF-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title></title>
  
  <link rel="stylesheet" href="{{url_for('static',filename='assets/css/normalize.css')}}">
 
  <link rel="stylesheet" href="{{url_for('static',filename='assets/css/index.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='assets/css/page.css')}}">
<style>
.loader {
  margin: 10% auto;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.chat-user{
	position: fixed;
	bottom: 2%;
	right: 2%;
	cursor: pointer;
	z-index: 3;
}
.chat-user-box{
	display: none;
	position:fixed;
	bottom: 1%;
	right: 1%;
	z-index: 101;
	width: 300px;
	height: 550px;
	
}

.boxb{
	position: relative;
	display: inline-block;
	width: 300px;
	height: 250px;
	background: white;
	border-radius: 10px;
	margin-left: 5%;
	margin-top: 3%;
	font-size: 18px;
	color: black;
	text-align: center;
	justify-content: center;
	box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

</style>
<script src="{{url_for('static',filename='jquery.js')}}"></script>
<script src="https://use.fontawesome.com/4f05e2c5d5.js"></script>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script src="https://kit.fontawesome.com/c63faa1f51.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{url_for('static',filename='style2.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='style3.css')}}">
</head>

<body id="main-body">
<center>
<div class="loader">
</div>
</center>

</body>

<script>
window.onhashchange = function() {
    checkPage();
}
$(document).ready(function(){
	checkPage();
	
	
})

function loadreviews(){
	try{
		$("#load-reviews").load("{{url_for('order',mode='reviews')}}");
	}catch(err){console.log(err);}
}
function popup(text){
	var x = document.getElementById("snackbar");
	x.innerText = text;
	x.className = "show";
	setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
}
function addCode(){
	document.getElementById("chat-code").style.display='block';
	let y = document.getElementById("sign-up");
	y.removeAttribute("onclick");
	y.setAttribute("onclick","validate()");
	document.getElementById("sign-up").innerText = "Validate"
}
function validate(){
	var email = document.getElementById("chat-email").value;
	var code = document.getElementById("chat-code").value;
	if(email.length > 0){
		if(code.length == 6){
			$.ajaxSetup({async: false});
			let x = $.post("/api/fx/request/validate", {email: email, code : code});
			if(x.responseText == "success"){
				popup(x.responseText);	
				location.reload();
			}else{
				popup(x.responseText);
			}
		}else{
			popup("invalid Code");
		}
	}else{popup("Valid email input is required");}
}
function getCode(){
	var email = document.getElementById("chat-email");
	if(email.value.length > 0){
		$.ajaxSetup({async: false});
		let x = $.post("/api/fx/request/get-code", {email: email.value});
		if(x.responseText == "success"){
			popup("check for code in your email box");
			addCode();
			
		}else{popup(x.responseText);}
	}else{
		popup("enter email to join room");
	}
}
function chatRoom(){
	{%if session.get("rooms-user") == None %}
		let x = document.createElement("div");
		x.setAttribute("class","connect-card");
		x.setAttribute("id","connect-card");
		let y = document.getElementsByTagName("body")[0]
		x.innerHTML = `
			    <div id="snackbar"></div>
			    <span class="connect-card__title">Connect</span>
			    <p class="connect-card__content">Use your email to recieve a verification code for use.
			    </p>
			    <div class="connect-card__form">
				<input placeholder="Your Email" id="chat-email" type="text"><br>
				<input type="text" style="display:none;" id="chat-code" placeholder="Code sent to email">
				<button class="sign-up" id="sign-up" onclick="getCode()"> Get Code</button>
			    </div>
			
		`;
		y.appendChild(x);
	{%else%}
		let xs = document.getElementsByClassName("chat-card");
		if(xs.length == 0){
			let x = document.createElement("div");
			x.setAttribute("class","chat-card");
			x.setAttribute("id","chat-card");
			let y = document.getElementsByTagName("body")[0]
			x.innerHTML = `
				<div id="snackbar"></div>
			    <div class="chat-header">Chat<a style="float:right;cursor:pointer;background:red;color:white;" onclick="document.getElementById('chat-card').remove();"><i class="fa fa-window-close"></i></a></div>
			      <div class="chat-window">
				<div id="chat-in-user-box" style="width: 100%;height: 100%;"></div>
			      </div>
				<form onsubmit="return sendChat()">
			      <div class="chat-input">
				
				  <input type="text" class="message-input" id="your-message" placeholder="Type your message here">
				  <button class="send-button" osubmit="return sendChat()">Send</button>
				
			      </div>
				</form>
			`;
			y.appendChild(x);
			loadmessages();
		}
	{%endif%}
}
function loadmessages(){
	{% if session.get("rooms-user") != None%}
		$("#chat-in-user-box").load("{{url_for('getChat')}}");
		
	{%endif%}
}
function checkPage(){
	if(location.hash.includes(".html")){
		let x = location.hash;
		x = x.replace("#","");
		x = "temp3_"+x;
		console.log(x);
		getPage('/api/fx/templates/get?template='+x);
	}else{
		getPage('/api/fx/templates/get?template=temp3_index.html');
	}
}
function getPage(file){
	fetch(file)
	    .then(function(response) {
		return response.text()
		
	    })
	    .then(function(html) {    
		setPage(html);
		
	    })
	    .catch(function(err) {  
		console.log(err);
		  
	    });

}
function setPage(text){
	let x = document.getElementById("main-body");
	//x.remove();
	x.innerHTML = text;
	loadreviews();
}
function sendChat(){
	{% if session.get("rooms-user") != None %}
		
		let email =  '{{session["rooms-user"]}}';
		let msg = document.getElementById("your-message").value;
		$.ajaxSetup({async: false});
		if(msg.length == 0 || msg == ""){
			//popup("error during transaction");
		}else{
			let x = $.post("/chat/user", {email: email, message: msg, to: 'admin'});
			popup(x.responseText);
			loadmessages();
		}
		document.getElementById("your-message").value = "";
		return false;
		
	{% endif%}
}
function Review(){
	var email = document.getElementById("your-email").value;
	var nm = document.getElementById("your-name").value;
	var rev = document.getElementById("your-review").value;
	if(email.includes("@")){
		$.ajaxSetup({async: false});
		let x = $.post("/api/v/fn/review", {email: email, name: nm, review: rev});
		document.getElementById('review-box').style.display='none'
		popup(x.responseText);
		loadreviews();
	}else{
		popup("Invalid email ");
	}
}
</script>
</html>