
<body id="playground">


<!--
<div class="loading-wrap">
  <div class="loading">
    <div class="loader">
      <span>{</span><span>}</span>
    </div>
  </div>
</div>-->

<nav>
  <div class="nav-left">
    <a href="#">
      
    </a>
  </div>
  <div class="nav-right">
    <ul>
      <li class="active"><a href="#">PORTFOLIO</a></li>
      <li><a href="#playground.html">PLAYGROUND</a></li>
      <li ><a href="#about.html">ABOUT</a></li>
      <li><a href="{{url_for('static',filename='assets/pdf/cv.pdf')}}">RESUME</a></li>
      <li ><a href="{{url_for('read',title='internet_programming')}}">Blog</a></li>
    </ul>
  </div>
</nav>
<header>
<div class="header-container">
    <div class="header-words">
      <div class="header-title">Hi, I'm B.E OMWITSA. <br><b id="title-services"> A Software Developer</b>.</div>
      <div class="header-description">
        <span>Currently working on next-gen </span><span> products freelancing&nbsp;</span> <a href=""></a><span>.</span><span> Eager to gain Knowledge and bring forth the best of innovations with programming &nbsp; I am currently working on several projects that can be checked out in the &nbsp;<span><a href="#playground.html">playgroud</a> section</span>.<br><span>Contact({<br>&nbsp;<span><a href="tel:+254716925063">'phone': '+254716925063',</a></span><br>&nbsp;<span><a href="mailto:omwitsaetole@gmail.com">'email': 'omwitsaetole@gmail.com',</a></span><br>&nbsp;<span><a href="http://room-s.herokuapp.com/room?connect=korg">'rooms': 'http://room-s.herokuapp.com/room'</a></span><br>})</span> 
      </div>
      
   
    </div>
    <div class="header-selfie">
      <div class="selfie-background" style='background-image:url("{{url_for('static',filename='profile.jpg')}}");border-radius: 50%;'>
        
    </div>
  </div> 

<div>
<h3>Skills</h3>
<div class="boxb">
<i class="fa fa-html5 fa-4x" aria-hidden="true"></i>
<h2>HTML5</h2>
<p>Complete mastery of the semantic tags of the most contemporary markup language on the internet.</p>
</div>
<div class="boxb">
<i class="fa fa-css3 fa-4x" aria-hidden="true"></i>
<h2>CSS</h2>
<p>Complete mastery of the style language and its bootstrap 5 framework</p>
</div>
<div class="boxb">
<i class="fa fa-wordpress fa-4x" aria-hidden="true"></i>
<h2>WORDPRESS</h2>
<p>Deep knowledge of development with WordPress CMS and its Elementor PRO builder.</p>
</div>
<div class="boxb">
<i class="fa-brands fa-js fa-4x"></i>
<h2>JAVASCRIPT</h2>
<p>Complete mastery of basic and object-oriented language. Basics of the React library.</p>
</div>
<div class="boxb">
<i class="fa-brands fa-python fa-4x"></i>
<h2>PYTHON</h2>
<p>Moderate knowledge of the Python language for web development and analytics</p>
</div>
<div class="boxb">
<i class="fa-brands fa-php fa-4x"></i>
<h2>PHP</h2>
<p>Moderate knowledge in the PHP language, necessary for code maintenance within WordPress</p>
</div>
<div class="boxb">
<i class="fa-brands fa-java fa-4x"></i>
<h2>JAVA</h2>
<p>Complete Mastery in the Java language, necessary for object oriented programming</p>
</div>
<div class="boxb">
<i class="fa-brands fa-c fa-4x"></i>
<h2>C/CPP</h2>
<p>Complete Mastery in the C,C++ language, necessary for object oriented programming</p>
</div>
</div>


</div>
<div style="text-align: center;width: 100%;">
<center></h3>Reviews</h3></center><br>

<div id="load-reviews"></div>

<center>
<button class="review" onclick="document.getElementById('review-box').style.display='block'">
    Submit Review
    <div class="arrow-wrapper">
        <div class="arrow"></div>

    </div>
</button>
</center>
</div>

</header>
<div class="chat-user">
<a href="javascript:void(0)" onclick="chatRoom()"><i class="fa fa-commenting fa-2x" aria-hidden="true"></i></a>

</div>
<div class="chat-user-box" id="chat-user-box"></div>
<div style="position: fixed;top: 0;left: 0;width: 100%;height: 100%;text-align:center;display:none;"  id="review-box">
  <div class="subscribe">
    <p>REVIEW</p>
     <input type="text" name="name" class="subscribe-input" placeholder="Your name(optional)" id="your-name"><br>
    <textarea placeholder="Your Review" id="your-review"></textarea>
   
    <input type="email" name="email" class="subscribe-input" placeholder="Your e-mail" id="your-email" required>
    <br>
    <div class="cancel-btn" onclick="document.getElementById('review-box').style.display='none'">CANCEL</div>
    <div class="submit-btn" onclick="Review()">SUBMIT</div>
   
  </div>

</div>

<footer >
  <div class="copyright">Copyright © 2023</div>
  <div class="social-media">
    <a href="https://dribbble.com/omwitsa-etole"><img src="{{url_for('static',filename='/assets/img/icons/dribbble.png')}}" alt=""></a>
    <a href="https://github.com/omwitsa-etole"><img src="{{url_for('static',filename='/assets/img/icons/github-sign.png')}}" alt=""></a>
    <a href="mailto:omwitsabradone@gmail.com"><img src="{{url_for('static',filename='/assets/img/icons/envelope.png')}}" alt=""></a>
    <a href="https://www.linkedin.com/in/bradone-etole-891227222/"><img src="{{url_for('static',filename='/assets/img/icons/linkedin.png')}}" alt=""></a>
  </div>
</footer>
<div id="snackbar"></div>

<script async="" src="https://www.google-analytics.com/analytics.js"></script><script src="jquery.js"></script>
<script src="index.js"></script>

<script>

setInterval(loadd, 2500);
loadreviews();

function loadd(){
	let x = ["Fullstack Developement", "Web UX/UI Design", "Object Oriented Programming","Django Web Framework","Flask Web Framework","Java Programming","Data Structures and Algorithms"];
	var a = document.getElementById("title-services");
	
	prog = prog + 1;
	if(prog >= x.length){
		prog = 0
	}
	a.innerText = x[prog];
}


</script>

</body>