{% if messages[0] != None%}
	<div class="">	
		
		{%for message in messages %}	
			{% set fernet = Fernet(message[6])%}
			{% set msg = fernet.decrypt(message[3]).decode()%}
			{% if message[2] == "admin"%}
				<div class="msg_container" id="{{message[0]}}" style="">
					<p>{{msg}}</p>
					<span class="msg_time">{{message[4]}}</span>
				</div>
			{%else%}
				<div class="msg_container_send" style="">
					<p>{{msg}}</p>
					<span class="msg_time">{{message[4]}}</span>
				</div>
			{%endif%}
		{%endfor%}
	</div>

{%endif%}