{% if messages[0] != None%}
	<div class="">	
		
		{%for message in messages %}	
			{% set fernet = Fernet(message[6])%}
			{% set msg = fernet.decrypt(message[3]).decode()%}
			{% if message[2] == "admin"%}
				<div class="msg_container" id="{{message[0]}}" style="">
					<p>{{msg}}</p>
					<span class="msg_time">{{message[4]}}</span>
				</div>
			{%else%}
				<div class="msg_container_send" style="">
					<p>{{msg}}</p>
					<span class="msg_time">{{message[4]}}</span>
				</div>
			{%endif%}
		{%endfor%}
	</div>
{%else%}
	<div ><h2>Link Email to Chat</h2><br>
		<div class="chat" id="chat">
		<a style="float: right;cursor: pointer;color: red;" onclick="this.parentElement.style.display='none'"><i class="fa fa-window-close" aria-hidden="true"></i></a>
		<center><h3>To Participate in Chat Room Enter Your Email</h3><p>An email code will be sent to the input email</p></center><br>
		<input type="email" placeholder="email" id="email">
		<button onclick="getCode(this.id)" id="send-code">Send Code</button>
		</div>	
	</div>

{%endif%}