{% for message in messages%}
		{% set fernet = Fernet(message[6])%}
		{% set msg = fernet.decrypt(message[3]).decode()%}
                  <tr>
                    <td class="pd-l-0-force">
                      <img src="{{ url_for('static', filename='avatar.jpg')}}" class="wd-40 rounded-circle" alt="">
                    </td>
                    <td>
                      <h6 class="tx-inverse tx-14 mg-b-0">{{ message[1] }}</h6>
                      <span class="tx-12"><p>user</p></span>
                    </td>
                    <td class="msg" id='{{message[0]}}ms' style=""><p>{{ msg }}</p></td>
		   <td><textarea class="reply-text" id="{{message[0]}}" placeholde="respond" placeholder="reply" style="display:none;"></textarea></td>
                    <td>
			<div >
			<a class="fa" onclick="showOpts('{{message[0]}}r')" style="cursor: pointer;position: relative;" href="javascript:void(0)"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
			<div id="{{message[0]}}r" class="msg-opts">
			<a onclick="replyMessage({{message[0]}}, this.parentElement)">reply</a>
			<a onclick="closeReply(this.parentElement, {{message[0]}})">cancel</a>
			<a onclick="deleteMessage({{message[0]}})">delete</a>
			</div>
			</div>	
		</td>
                  
                  </tr>
		 {% endfor %}