<html lang="en"><head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Twitter -->
    <meta name="twitter:site" content="@_etole_">
    <meta name="twitter:creator" content="@_etole_">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Bracket">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
    
    <!-- Facebook -->
   
    <meta property="og:title" content="Bracket">
    <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">

    
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="BlogSpot, Create and manage your blog website.">
    <meta name="author" content="Blogspot">
    <title>Signin - BlogSpot</title>

    <!-- vendor css -->
    <link href="{{url_for('static', filename='font-awesome.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='ionicons.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='select2.min.css')}}" rel="stylesheet">

    <!-- Bracket CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='bracket.css')}}">
   <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<style>
.msg{
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	position: absolute;
	top: 5%;
	left: 25%;
	text-align: center;
	width: 50%;
	min-height: 35px;
	border-radius: 10px;
	color: white;
	font-size: 18px;
}
.warn input{
	color: red;
}
.warning {
  border-color: #f62f5e !important;
}
</style>
  </head>

  <body>
{% if msg != None and msg != "success"%}
         <div class="msg" style="background: #FFCCCB;">{{ msg }}<a style="float: right;margin-right: 5%;color: red;" onclick="this.parentElement.style.display='none'">X</a></div>
   {% endif %}
{% if msg == "success" %}
         <div class="msg" style="background: #90EE90;"><p style="font-size: 18px;">Login Successfull | Redirecting to {{returnurl}}</p></div>
	<script>$(document).ready(function() {//location.href="";});</script>
   {% endif %}
<div class="d-flex align-items-center justify-content-center bg-br-primary ht-100v">
   
      <div class="login-wrapper wd-300 wd-xs-350 pd-25 pd-xs-40 bg-white rounded shadow-base">
        <div class="signin-logo tx-center tx-28 tx-bold tx-inverse"><span class="tx-normal"><</span> BlogSpot <span class="tx-normal">></span></div>
        <div class="tx-center mg-b-60">Login to your BlogSpot Panel</div>
       <form method='POST' action="{{url_for('signin')}}?callback_url={{returnurl}}" onsubmit="return Validate()" class="column-2">
        <div class="form-group">
          <input type="text" class="form-control" name="username" placeholder="Enter your username">
        </div><!-- form-group -->
        <div class="form-group">
          <input type="password" name="password" class="form-control" placeholder="Enter your password">
          <a href="" class="tx-info tx-12 d-block mg-t-10">Forgot password?</a>
        </div><!-- form-group -->
        <button type="submit" class="btn btn-info btn-block">Sign In</button>
	</form>
        <div class="mg-t-60 tx-center">Not yet a member? <a href="{{url_for('signup')}}" class="tx-info">Sign Up</a></div>
      </div><!-- login-wrapper -->
    </div>

</body>
<script>
function Validate(){
	var $cardInput = $('.form-group input');
	let x = 0;
		  
	    $cardInput.removeClass('warning');

	    $cardInput.each(function() {
	       var $this = $(this);

	       if (!$this.val()) {
		 $this.addClass('warning');
		 	x = 1;
	       }
	    });
	 if(x == 1){
		return false;
	}else{return true;}
}
</script>
</html>